body{

    background: white;
    color:black;
}
h1{
    font-size: 100px;
    color: green;
}
p{
    font-size: large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
div{
    background-color: rgb(0, 123, 255);
    width: 100px;
    height: 100px;
    margin: 2px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}